.App {
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
html {
  background-color: #0b1930;
  font-family: "Open Sans", sans-serif;

  /* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
}
.quotes-container {
  margin-top: 20vh;
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin-right: 20vw;
  margin-left: 20vw;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 20px;
}
.quotes-container h3 {
  font-family: "Oswald", sans-serif;
  font-size: 42px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 52.6300010681152px;
  text-transform: none;
  color: #13e2ca;
}
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
@media screen and (max-width: 759px) {
  .quotes-container {
    margin-top: 10vh;
    margin-left: 80px;
    margin-right: 20px;
  }
  .quotes-container h1 {
    font-size: 24px;
  }

  .quotes-container h3 {
    font-size: 26px;
    line-height: 40px;
  }
  .quotes-container h5 {
    font-size: 18px;
  }
}
.quotes-container h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 20px;
}

.home-container h1 {
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
}
.home-img {
  width: calc(70px + (200 - 70) * ((100vw - 300px) / (1600 - 300)));
  height: 200px;
  margin: 0 auto;
}
