.calculator_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator_title {
  margin-top: 10vh;
  width: 600px;
  background-color: #4905c7;
  border-bottom: 2px solid white;
}
.calculator_title h2 {
  margin: 0 25;
}
.calculator_body {
  width: 600px;
  background-color: #4905c7;
}

.calculator_body input::placeholder {
  font-weight: bold;
  text-align: center;
}
.bmi-result {
  margin-bottom: 20px;
}
@media screen and (max-width: 759px) {
  .calculator_title {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 10vh;
    width: 70%;
    background-color: #4905c7;
    border-bottom: 2px solid white;
  }
  .calculator_title h2 {
    margin: 0 25;
  }
  .calculator_body {
    margin-left: 80px;
    margin-right: 20px;
    width: 70%;
    background-color: #4905c7;
  }

  .calculator_body input::placeholder {
    font-weight: bold;
    text-align: center;
  }
  .bmi-result {
    margin-bottom: 20px;
  }
}
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-right: 20vw;
  margin-left: 20vw;
}
@media screen and (max-width: 759px) {
  .quiz-container {
    margin-top: 5%;
    margin-left: 80px;
    margin-right: 20px;
  }
}
.quiz-result {
  margin-top: 50%;
  margin-left: 80px;
  margin-right: 20px;
}
