.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
}
.DayOfTheWeek-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . . . . .";
  margin-bottom: 1px;
  margin-top: 20px;
}
.day {
  width: 8vw;
  height: 8vw;
  background-color: #4905c7;
  color: white;
  text-align: center;
}
.day-height {
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
.done {
  background-color: #4905c7;
  width: 8vw;
  height: 8vw;
  color: white;
  text-align: center;
  background-image: url("/images/completed2.svg");
  background-size: cover;
}
@media screen and (max-width: 759px) {
  .day {
    width: 10vw;
    height: 10vw;
  }
  .day-height {
    height: auto;
  }
  .done {
    width: 10vw;
    height: 10vw;
  }
  .grid-container p {
    margin: 0;
  }
  .input-container {
    width: 80% !important;
  }
  .training-container {
    margin-right: 0vw !important;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .hidden {
    visibility: hidden;
    display: none;
  }
  .hidden2 {
    width: 100% !important;
  }
}
.training-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 20vw;
  margin-right: 20vh;
}
.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tooltiptext {
  visibility: hidden;
  background-color: #13e2ca !important;
  color: #0b1930 !important;
}
.hidden2 {
  width: 0;
}
